<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @email.name %> Wrote</h4>
    <p>
      <%= @email.message %>
    </p>
  </body>
</html>