// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.service-section-title{
	font-weight: bold;
	font-size: 20px;
}

.panel-title {
	font-size: 20px !important;
}